<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='styles/bootstrap.css'>
        <link rel='stylesheet' href='lib/redactor/redactor.css'>
        <!-- endbuild -->

</head>
  <body ng-app="angularApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class='hv-spinner' operation='getList' what='topics' spinner
      spinner-active='.hv-spinner-active'
      spinner-error='.load-error'>
    </div>

    <div class='sidebar-group'>
      <div class='sidebar-nav-fixed border-right'>
        <h1 class='vertical sidebar-logo'>
          <a class='no-style' href='/#/'> h v m a n </a>
        </h1> 
      </div>
      <div class='flip-container'>
        <div class='flipper'>
          <div class='secondary-sidebar-nav-fixed front inner-shadow'>
            <ul class='navfix no-padding'>
              <li class='dark-bottom indent'> 
                <h1>
                  <a href='/#/' class='text-inverse indent margin-bottom'>
                    HVMAN 
                  </a>
                </h1>  
              </li>
              <li click-tag='.flip-container' class='light-top dark-bottom indent'>
                <h3>
                <span class="glyphicon glyphicon-search"></span>
                  <a href='' class='text-inverse'>Topics</a>
                </h3>
              </li>
              <li class='light-top dark-bottom indent'> 
                <h3> 
                  <a ng-hide='userLoggedIn' href='#/login' class='text-inverse'> Login </a>
                  <a ng-show='userLoggedIn' href='#/logout' class='text-inverse'> Logout </a>
                </h3>
              </li>
              <li class='light-top dark-bottom indent'>
                <h3>
                  <a href='#/about' class='text-inverse'> About </a>
                </h3>
              </li>
              <li class='light-top'>
              </li>
            </ul>
          </div>
          <div ng-controller='TopicsCtrl' class='back inner-shadow'>
            <span click-tag='.flip-container' class='pointer margin-top col-sm-2 col-sm-offset-9 glyphicon glyphicon-remove'></span>

            <div class='padding-navfix'>
              <div class='site-nav-search'>

                <form ng-submit='search()'>
                  <input ng-model='query' class='site-nav-search-input' type='text' placeholder='Explore Hvman'>
                </form>
              </div>
              
              <ul class='no-padding'>
                <li class='indent' ng-repeat='topic in topics'>
                  <h4 class='inline'>
                    <a href='#/topics/{{topic.title}}' class='text-inverse'> {{topic.title}}</a>
                  </h4> 
                </li>
              </ul>
              <div class='hv-spinner center'>
                <div class='hv-spinner-active center green-sidebar-gif'>
                </div>
                <div class='hv-spinner hv-spinner-error center load-error'>
                  <h4 class='text-inverse'> Error </h4>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div ng-view=""></div>
    
    <div class='scroll-wrapper'>
      <div class='scroll-hint' scrolled-tag scroll-top>
        <span class='glyphicon glyphicon-arrow-up'></span>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngInfiniteScroll/ng-infinite-scroll.js"></script>
    <script src='bower_components/underscore/underscore-min.js'></script>
    <script src="bower_components/restangular/src/restangular.js"></script>
    <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
    <!--<script src='bower_components/tinymce-release/tiny_mce.js'></script>-->
    <!--<script src='bower_components/tinymce-release/tinymce.min.js'></script>-->
    <!--<script src='bower_components/angular-ui-tinymce/src/tinymce.js'></script>-->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <!--<script src="lib/redactor/redactor.min.js"></script>-->
        <script src="lib/redactor/redactor.js"></script>

        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/app.js"></script>

        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/Posts.js"></script>
        <script src="scripts/controllers/postsindex.js"></script>
        <script src="scripts/controllers/PostsShow.js"></script>
        <script src="scripts/controllers/Topics.js"></script>
        <script src="scripts/controllers/tags.js"></script>
        <script src="scripts/controllers/Typeahead.js"></script>
        <script src="scripts/controllers/compose.js"></script>
        <script src="scripts/controllers/drive.js"></script>
        
        <script src="scripts/services/Session.js"></script>
        <script src="scripts/directives/click-tag.js"></script>
        <script src="scripts/directives/appear-tag.js"></script>
        <script src="scripts/directives/scrolled-tag.js"></script>
        <script src="scripts/directives/scroll-top.js"></script>
        <script src="scripts/directives/redactor.js"></script>
        <script src="scripts/directives/stop-propagation.js"></script>

        <script src="scripts/http-auth-interceptor.js"></script>
        <script src="scripts/interceptor.js"></script>
        <script src='scripts/modules/angular-assert.js'></script>
        <script src='scripts/modules/restangular-spinner.js'></script>

        <!-- endbuild -->
</body>
</html>
