<div class="container">
  <div class="row big-margin-top">
    <div class="span4">
      <img src='assets/paper.svg' class="paper-icon very-large">
    </div>
    <div class="span8">
      <div class="row">
        <div class="span3">
          <form id="new-post-form">
            <input type="text" placeholder="Title" ng-model="post.title"><br>
            <input type="text" placeholder="Source URL (If not original)" ng-model="post.link">
            <input type="file" class="hidden" id="new-post-image">
          </form>
        </div>
        <div class="span2">
          <img ng-src="{{camera}}" class="camera-icon medium" ng-click="newImage()"> 
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <textarea rows="7" form="new-post-form" placeholder="Content" class="wide" ng-model="post.content"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <input id="new-post-tags" class="post-tags" value="Add Tags"> 
        </div>
        <div class="span3">
          <a href="" class="btn btn-large btn-primary btn-block" ng-click="submit()"> Submit </a>
        </div>
      </div>
    </div>
  </div>
</div>
