<div class='container navfix about-page'>
  <div class='row'>
    <div class='col-md-4 border-right' >
      <img src='images/alien1.png' class='img-responsive big-margin-top'>
      <div class='row'>
        <blockquote>
          <h2>
            &quot;Humans are primates of the family Hominidae, and the only extant species of the genus Homo.&quot;
          </h2>
          <em class=pull-right'> -Wikipedia </em>
        </blockquote>  
      </div>
    </div>

    <div class='col-md-8 big-margin-top'>
      <h1> About </h1> 
      <hr>
      <p class='lead'>&nbsp;&nbsp;&nbsp;&nbsp; Hvman is a non-traditional encyclopedia that seeks to define the world as experienced by us, <em> humans</em>. <br><br>Hvman is a supplement to the scientific definitions found in encyclopedias and strives to define things empathically.   
      </p>
      <h1 class='big-margin-top'> How does it work?</h1>
      <p class='lead'>Hvman mirrors Wikipedia. If the article exists on Wikipedia, then the topic exists here.<br><br><strong> But</strong>, that doesn't guarantee that content exists for that subject. That's where you come in. If you've experienced it, write about it and contribute your experience to a more perfect <span class='text-primary'>human definition</span> of the subject.
      </p>
      <h1 class='big-margin-top'> What goes here?</h1>
      <p class='lead'> Eloquent and powerful stories. No scientific definitions, please.</p>

      <h1 class='big-margin-top'> How do I contribute?</h1>
      <p class='lead'> Start by making an account, <a href='#/login'>here</a>.</p>

    </div>
  </div>
</div>
