<div class='container no-padding col-fixed-sidebar'>
  <div class='compose-header-container'>
    <div class='compose-return'>
      <a href='/#/drive' role='button' class='drive-button'>
          <span class='glyphicon glyphicon-hdd'></span>
      </a>
    </div>
    <div class='post-title-container'>
      <div ng-click='editPost = true' ng-show='!editPost' class='post-title'>
        <h3 class='no-margin'> {{post.title}}  </h3>
      </div>
      <div ng-show='editPost' class='edit-post-title'>
        <input type='text' ng-model='post.title'>
        <span ng-click='editPost = false' class='glyphicon glyphicon-floppy-save save-post-title'> 
      </div>
    </div>
    <div class='publish-container'>
      <button click-tag='.hv-modal' type='button' class='hv-button hv-button-primary'>Publish</button>
    </div>
  </div>
  <redactor content='post.content'></redactor>

  <div class='hv-modal'>
    <div class='container'>      
      <div class='row indent'>
        <div class='pull-left title-container'>    
          <h3>Publish</h3>
        </div>
      </div>
      <div class='row margin-top'>
        <p class='indent'> Select topics to publish under.</p>
      </div>
      <div class='row indent'>
        <div class='well plain'>
          <div class='tagged-topics'>
            <div class='topic-tag' ng-repeat='topic in post.topics'>
              <div class='topic-tag-title'>
                {{topic.title}}
              </div>
              <div ng-click="removeFromTopics(topic)" class='topic-tag-delete'>
                <span class='glyphicon glyphicon-remove'></span>
              </div>
            </div>
            <div ng-controller='TopicsCtrl' class='topic-search-container'>
              <form ng-submit='search()'>
                <div class='input-group'>
                  <span ng-click='search()' class='input-group-addon input-group-addon-left'>
                    <span class='glyphicon glyphicon-search'></span>
                  </span>
                  <input ng-model='query' class='form-control' type='text'>
                  <span ng-click='clearResults()' class='input-group-addon input-group-addon-right'>
                    <span class='glyphicon glyphicon-remove'></span>
                  </span>
                </div>
                <ul class='list-group'>
                  <li ng-click='addToTopics(topic)' class='list-group-item' ng-repeat='topic in topics'>
                    {{topic.title}}
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class='row indent'>
        <div class='publish-button'>
          <button ng-click='publish()' type='button' class='hv-button hv-button-success'>Publish</button>
          <button click-tag='.hv-modal' type='button' class='hv-button hv-button-default'>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
