<div class='container no-padding col-fixed-sidebar'>
  <div class='compose-header-container'>
    <div class='compose-return'>
      <a href='/#/drive' role='button' class='drive-button'>
          <span class='glyphicon glyphicon-hdd'></span>
      </a>
    </div>
    <div class='post-title-container'>
      <div ng-click='editPost = true' ng-show='!editPost' class='post-title'>
        <h3 class='no-margin'> {{post.title}}  </h3>
      </div>
      <div ng-show='editPost' class='edit-post-title'>
        <input type='text' ng-model='post.title'>
        <span ng-click='editPost = false' class='glyphicon glyphicon-ok save-post-title'> 
      </div>
      <div class='hv-spinner' operation='put' what='posts' spinner> 
        <div spinner-active>
          Saving ... 
        </div>
        <div spinner-success>
          <small>Saved</small>
        </div>
        <div class='hv-spinner-error' spinner-error>
          <small>Unable to save document!</small>
        </div>
      </div>
    </div>
    <div class='publish-container'>
      <button ng-show='post.topics.length' click-tag='.hv-modal' type='button' class='hv-button hv-button-success'>Published</button>
      <button ng-show='!post.topics.length' click-tag='.hv-modal' type='button' class='hv-button  hv-button-primary'>Publish</button>
    </div>
  </div>

  

  <div operation='get' what='posts' spinner>
    <div spinner-active>
      Loading ... 
    </div>
    <div spinner-success>
    </div>
    <div spinner-error>
      An error occured while loading!
    </div>
  </div>

  <redactor content='post.content'></redactor>

  <div class='hv-modal'>
    <div click-tag='.hv-modal' class='hv-modal-close'>
      <span class='glyphicon glyphicon-remove'></span>
    </div>
    <div class='container'>      
      <div class='row indent'>
        <div class='pull-left title-container'>    
          <h3>Publish</h3>
        </div>
      </div>
      <div class='row margin-top'>
        <p class='indent'> Search for topics to publish under.</p>
      </div>
      <div class='row indent'>
        <div class='well plain'>
          <div class='tagged-topics'>
            <div class='topic-tag' ng-repeat='topic in dirty_topics'>
              <div class='topic-tag-title'>
                {{topic.title}}
              </div>
              <div ng-click="removeFromTopics(topic)" class='topic-tag-delete'>
                <span class='glyphicon glyphicon-remove'></span>
              </div>
            </div>
            <div ng-controller='TopicsCtrl' class='topic-search-container'>
              <form ng-submit='search()'>
                <div class='input-group'>
                  <span ng-click='search()' class='input-group-addon input-group-addon-left'>
                    <span class='glyphicon glyphicon-search'></span>
                  </span>
                  <input ng-model='query' class='form-control' type='text'>
                  <span ng-show='query' ng-click='clearResults()' class='input-group-addon input-group-addon-right'>
                    <span class='glyphicon glyphicon-remove'></span>
                  </span>
                </div>
                <ul class='list-group'>
                  <li ng-click='addToTopics(topic)' class='list-group-item' ng-repeat='topic in topics'>
                    {{topic.title}}
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class='row indent'>
        <div class='publish-button'>
          <button ng-click='publish()' type='button' class='hv-button hv-button-success'><span ng-show='!post.topics.length'>Publish</span><span ng-show='post.topics.length'>Publish Again!</span></button>
          <button ng-click='cancel()' click-tag='.hv-modal' type='button' class='hv-button hv-button-default'>Cancel</button>
          <div class='hv-spinner' operation='put' what='posts' spinner> 
            <div spinner-active>
              <h4 class='inline'>
               Publishing ... 
             </h4>
            </div>
            <div class='hv-spinner-success' spinner-success>
              <h4>
                <span class='glyphicon glyphicon-ok'></span>   
              </h4>
            </div>
            <div class='hv-spinner-error' spinner-error>
              <h4>
                <span class='glyphicon glyphicon-remove'></span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
