<div class='hv-squares-menu'>
  <div class='hv-squares'>
    <div class='hv-square hv-square-1'></div>
    <div class='hv-square hv-square-2'></div>
    <div class='hv-square hv-square-3'></div>
    <div class='hv-square hv-square-4'></div>
  </div>
  <div class='hv-squares-options'>
    <div class='hv-square-option hv-square-option-1'>
      <a class='no-style' href='/#/compose'>
        <span class='glyphicon glyphicon-pencil'></span>
      </a>
    </div>
    <div class='hv-square-option hv-square-option-2'>
    </div>
    <div class='hv-square-option hv-square-option-3'></div>
    <div class='hv-square-option hv-square-option-4'>
      <a class='no-style' href='/#/drive'>
        <span class='glyphicon glyphicon-hdd'></span>
      </a>
    </div>
  </div>
</div>

<div scroll-hint content='post.content'>
</div>

<div class="container col-fixed-sidebar">
  <div class='hv-hover-back top'>
    <h4><a href='/#/'>HVMAN</a></h4>
  </div>
  <div class='hv-post'>
    <div class='hv-post-title-container'>
      
      <h1 class='hv-post-title' > {{post.title}} </h1>
      <ul class="hv-post-topics" >        
        <li ng-repeat="topic in post.topics">
          <a href='#/topics/{{topic.title}}'>
            {{topic.title}}
          </a>
        </li>
      </ul>
    </div>
    <p class='hv-post-body' ng-bind-html-unsafe="post.content"></p>
    <ul class="hv-post-topics"> 
      <li ng-repeat="topic in post.topics">
      <a href='#/topics/{{topic.title}}'>
        {{topic.title}}</li>
      </a>
    </ul>
  </div>
  <div class='hv-hover-back bottom'>
    <h4><a href='/#/'>HVMAN</a></h4>
  </div>
</div>
