<div class='hv-spinner' operation='get' what='topics' spinner
  spinner-active='.hv-spinner-active'
  spinner-error='.load-error'>
</div>

<div class='hv-squares-menu'>
  <div class='hv-squares'>
    <div class='hv-square hv-square-1'></div>
    <div class='hv-square hv-square-2'></div>
    <div class='hv-square hv-square-3'></div>
    <div class='hv-square hv-square-4'></div>
  </div>
  <div class='hv-squares-options'>
    <div class='hv-square-option hv-square-option-1'>
      <a class='no-style' href='/#/compose'>
        <span class='glyphicon glyphicon-pencil'></span>
      </a>
    </div>
    <div class='hv-square-option hv-square-option-2'>
    </div>
    <div class='hv-square-option hv-square-option-3'></div>
    <div class='hv-square-option hv-square-option-4'>
      <a class='no-style' href='/#/drive'>
        <span class='glyphicon glyphicon-hdd'></span>
      </a>
    </div>
  </div>
</div>

<div class='container col-fixed-sidebar'>
  <div class='row indent'>
    <div class='pull-left title-container'>    
      <h1 class='big'>{{topic.topic.title}}</h1>
    </div>
  </div>
  <hr>

  <div class='no-content' ng-show='!topic.posts.length'>
    <h1> no content </h1>    
  </div>

  <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' class="col-md-12 infinite">
    <div class="post-glimpse" ng-repeat="post in topic.posts">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-9">
              <a ng-href="/#/posts/{{post.id}}">
                <h1> {{post.title}} </h1><br>
              </a>
            </div>
          </div>
          <div class="row" ng-controller="PostsCtrl">
            <div class="col-md-9">
              <p ng-hide="more" ng-bind-html-unsafe='chomp(post.content)' class='lead'> 
              </p>
              <p class='lead' ng-show="more" ng-bind-html-unsafe='post.content'> 
              </p>

              (<a href="" ng-hide="more" ng-click="more = !more">more</a><a href="" ng-show="more" ng-click="more = !more">less</a>)

              <a href="" ng-hide="post.voted_for" ng-click="voteUp(post)"> &#9650;</a>
              <a href="" class="selected" ng-show="post.voted_for" ng-click="voteUp(post)"> &#9650;</a>
              <a href="" ng-hide="post.voted_against" ng-click="voteDown(post)"> &#9660;</a>
              <a href="" class="selected" ng-show="post.voted_against" ng-click="voteDown(post)"> &#9660;</a> &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='hv-spinner center'>
    <div class='hv-spinner-active center gif'>
    </div>
    <div class='hv-spinner hv-spinner-error center load-error'>
      <h4> Error </h4>  
    </div>
  </div>
</div>
